.thirdAd {
  margin-top: 50px;
  cursor: pointer;
  &__img {
    width: 100%;
    max-width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
@media (max-width: 1200px) {
  .thirdAd {
    &__img {
      width: 100%;
      max-width: 100%;
    }
  }
}
