.firstAd__Info{
  align-self: center;
  justify-self: end;
  text-align: end;
  padding: 20px;

  &__h1{
    font-family: 'Rubik';
    text-shadow: 5px black;
    font-weight: 300;
    color: black;
    font-size: 32px;
    margin-bottom: 20px;
    font-size: 36px;
    transition: all 1s;
  }
  &__p{
    color: #535252;
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__btn{
    background-color: #30BCC5;
    border: none;
    padding: 10px;
    border-radius: 10px;
    height: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;

    &:hover{
      background-color: #30bbc58f;
    }
  }
}

@media(max-width: 1200px){
  .firstAd__Info{
    &__p{
      font-size: 14px;
      margin-bottom: 0px;
    }
  }
}

@media(max-width: 900px){
  .firstAd__Info{
    padding: 10px;
    &__h1{
      font-size: 25px;
      font-weight: bold;
    }
    &__btn{
      display: none;
    }
  }
}

@media(max-width: 570px){
  .firstAd__Info{
    padding: 10px;
    &__h1{
      font-size: 14px;
      font-weight: bold;
    }
    &__btn{
      display: none;
    }
  }
}