.SVG-container{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;

  &__element{
    position: absolute;
    overflow: visible;
    transition: .5s;
  }
}

.el-1{
  left: 0;
}

.el-2{
  top: -250px;
}
.el-3{
  right: -250px;
  top: -330px;
}

.el-4{
  bottom: -750px;
  right: -130px;
}

@media (max-width: 1200px) {
  .el-1{
    left: -100px;
  }
  
  .el-2{
    top: -400px;
  }
  .el-3{
    right: -400px;
    top: -330px;
  }
  
  .el-4{
    bottom: -800px;
    right: -330px;
  }
}

@media (max-width: 800px) {
  
  .el-1{
    left: -130px;
  }
  
  .el-2{
    top: -600px;
  }
  .el-3{
    right: -350px;
    top: -500px;
  }
  
  .el-4{
    bottom: -820px;
    right: -250px;
  }
}