.sidebar-menu{
    display: none;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 200px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 5px 1px rgb(87, 87, 87);
    text-transform: uppercase;
    z-index: 2;

    &__categories{
        font-size: 20px;
        font-family: 'Rubik';
        letter-spacing: 2px;
        padding: 10px;
        list-style: none;
        text-align: center;

        &__list{
            padding: 15px 0;
            border-bottom: 1px solid var(--color-secondary);
            border-top: 1px solid var(--color-secondary);
            background-color: #fff;
        }
    }

    &__dropdown{
        visibility: hidden;
        height: 0;
        top: 100%;
        left: 0;
        width: 100%;
        transform: translateY(-3em);
        z-index: -1;
        transition: all 0.3 ease 0s, visibility 0s linear 0.3, z-index 0s linear 0.01;
        &-active{
            visibility: visible;
            opacity: 1;
            z-index: 1;
            transform: translateY(0);
            transition-delay: 0, 0, 0.3s;
            padding: 20px 0;

            &__title{
                font-weight: bold;
            }

            &__item{
                padding-top: 10px;
                border-bottom: 1px solid lightblue;
            }
        }
    }
}

@media (max-width: 800px) {
    .sidebar-menu{
        display: block;
    }
}