.product{
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  font-family: 'Rubik';
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  box-shadow: 0px 3px 8px 1px rgb(133, 133, 133);;
  cursor: pointer;

  &:hover{
    box-shadow: 0px 5px 8px 4px rgb(133, 133, 133);;
  }

  
  &__popover{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 251, 251, 0.835);  
    backdrop-filter: blur(5px);
    display: none;

    &__container{
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &__option{
        padding: 10px 5px;

        &:hover{
          color: var(--color-secondary);
        }
      }
    }
  }
  
  &:hover > &__popover{
    display: block;
  }

  &__imgContainer{
    width: 100%;
    height: 110px;

    &__img{
      height: 100%;
      max-height: 100%;
      max-width: 100%;
    }
  }

  &__descriptionContainer{
    height: 80px;

    &__title{
      color: #747474;
      font-size: 20px;
      font-weight: 400;
    }

    &__price{
      font-size: 20px;
      font-weight: bold;
    }
  }

}

@media(max-width: 900px){
  .product:last-of-type, .product:nth-last-child(2), .product:nth-child(8), .product:nth-child(7){
    display: none;
  }
  .product{
    &__descriptionContainer{
        &__title{
          font-size: 16px;
        }

        &__price{
          font-size: 15px;
      }
    }
  }
}





// .product{
//   width: 220px;
//   height: 300px;
//   font-family: 'Rubik';
//   text-transform: uppercase;
//   text-align: center;
//   letter-spacing: 1px;

//   &__imgContainer{
//     background-color: aquamarine;
//     width: 100%;
//     height: 220px;

//     &__img{
//       height: 100%;
//       max-height: 100%;
//     }
//   }