.nav{
width: 90%;
box-shadow: 0 3px 2px 0px rgb(158, 158, 158);

    &__list{
        display: grid;
        grid-template: 60px / repeat(7, 1fr) 2fr;
        grid-auto-flow: row;
        justify-items: center;
        align-items: center;
        list-style: none;
        background-color: var(--color-secondary);
        font-size: 14px;
        letter-spacing: 1px;
        color: white;
    }

    &__item{
        text-transform: uppercase;
        float: left;
        cursor: pointer;
        height: 100%;
        width: 100%;
        line-height: 60px;
        font-weight: 400;
        text-align: center;
        transition: .5s;
        &:hover{
            color: black
        }
        &:hover .dropdown{
            display: grid;
            grid-template: 1fr / repeat(2 , minmax(0px , 1fr));
            grid-gap: 100px;
        }

    }
}

.specialoffer{
background-color: black;
line-height: 60px;
grid-area: 1 / 8 / 2 / 9;
font-weight: bold;
    img{
        position: relative;
        top: 7px;
        height: 45%;
        margin-right: 10px;
    }

    &:hover{
        color: var(--color-secondary);
        font-size: 16px;
    }
}


@media (max-width: 1200px) {
    .nav{
        width: 100%;
        &__list{
            grid-template: 60px / repeat(7, 1fr);
            letter-spacing: 0;
        }
        &__item{
            &:nth-child(7):hover .dropdown, &:nth-child(6):hover .dropdown{
                right: 0;
            }
        }
    }
    .specialoffer{
        display: none;
    }
}
