.slider-container__grid__info{
  place-self: center;
  padding: 20px;

  &__h2{
    font-weight: normal;
    color: #9E9E9E;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__h1{
    font-family: 'Rubik';
    text-shadow: 5px black;
    font-weight: 300;
    color: white;
    font-size: 32px;
    margin-bottom: 20px;
  }
  &__paragraph{
    color: #878787;
    font-size: 18px;
    margin-bottom: 20px;
  }
  &__button{
    background-color: #30BCC5;
    border: none;
    padding: 10px;
    border-radius: 10px;
    height: 40px;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

@media(max-width: 1200px){
  .slider-container__grid__info{
    &__paragraph{
      display: none;
    }
  }
}

@media(max-width: 800px){
  .slider-container__grid__info{


    &__h2{
      display: none;
    }
    &__h1{
      font-size: 18px;
      margin-bottom: 10px;
    }
    &__button{
      font-size: 14px;
      padding: 5px;
      height: 30px;
      margin-bottom: 0;
    }
  }
}